*{
    margin: 0%;
}

.button-bar{
    height: 60px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile{
    font-size: 18px;
    color:#0a2351 ;
    cursor: pointer;  
    transition: 0.5s;
    border: 1px solid #0e1a30;
    width:  80px;
    height: 40px;
    border-radius:10px;
}
.profile:hover {
    background-color: #ccd5e6;
    color: #1b0ab9;
    border: 1px solid  #301af0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-box{
    
    border-radius: 5px;
    border: 0.5px solid  #c7d3e6;
    width: 60%;
    height: 360px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 20%;
}
td{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: default;
    transition: 0.3s;
}
td:hover{
    color: hsl(180, 100%, 50%);
}
.input-style{
    height: 30px;
    background-color: #E6E6FA;
    border-radius: 2px;
    border-style: none;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(205, 201, 201, 0.2), 0 6px 20px 0 rgba(102, 102, 102, 0.19);
}
.input-style:hover{
    transform: scale(1.1,1.1);
    background-color: #D6EEEE;
    box-shadow: 0 4px 8px 0px hsl(180, 81%, 79%), 0 6px 5px 0 hsl(201, 81%, 79%);
    color:rgb(0, 88, 250)
}
.otp-input{
    height: 30px;
    background-color: #E6E6FA;
    border-radius: 2px;
    border-style: none;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(205, 201, 201, 0.2), 0 6px 20px 0 rgba(102, 102, 102, 0.19);
}
.otp-input:hover{
    transform: scale(1.1,1.1);
    background-color: #D6EEEE;
    box-shadow: 0 4px 8px 0px hsl(180, 81%, 79%), 0 6px 5px 0 hsl(201, 81%, 79%);
    color:rgb(0, 88, 250)
}
.pass-new{
    height: 30px;
    background-color: #E6E6FA;
    border-radius: 2px;
    border-style: none;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(205, 201, 201, 0.2), 0 6px 20px 0 rgba(102, 102, 102, 0.19);
}
.pass-new:hover{
    transform: scale(1.1,1.1);
    background-color: #D6EEEE;
    box-shadow: 0 4px 8px 0px hsl(180, 81%, 79%), 0 6px 5px 0 hsl(201, 81%, 79%);
    color:rgb(0, 88, 250)
}
.button-main1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 20px;
    top: 15px;
    border-radius: 10px;
}
#button1{
    height: 30px;
    width: 200px;
    color:#4E3883;
    background-color: #99DDFF;
   cursor: pointer;
    border-color: #99DDFF;
    right: 80px;
    top: 20px;
}
.shriyash12{
  position: relative;
  display: inline-block;
  color:#2196f3;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 0.2s;
}
.shriyash12:hover{
  color: #255784;
  background: #00458B;
  border: 2px solid #00458B;
  box-shadow: 0 4px 8px 0 rgba(13, 50, 235, 0.973), 0 6px 20px 0 rgba(13, 50, 235, 0.973);
}
#button12{
    height: 30px;
    width: 100px;
    color:#4E3883;
    background-color: #99DDFF;
    cursor: pointer;
    border-color: #99DDFF;
    left: 100px;
    bottom: 10px;
    
}
.shriyash123{
  position: relative;
  display: inline-block;
  color:#2196f3;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 0.2s;
}
.shriyash123:hover{
  color: #255784;
  background: #00458B;
  border: 2px solid #00458B;
  box-shadow: 0 4px 8px 0 rgba(13, 50, 235, 0.973), 0 6px 20px 0 rgba(13, 50, 235, 0.973);
}